*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:2%;
    border: 1px solid black;
    height:90vh;
}

.periodic{
    text-align: center;
    font-size: 30px;
    text-decoration:underline;
}

.group-no td{
    border: none;
    text-align: center;
    font-size: 17px;
}
#group-space{
    width:15px;
    
}
.group-name{
    text-align:end;
    font-size: 15px;
    padding-top: 12px;
}
.group-name p{
    font-size: 15px;
}
.group{
    position: relative;
    top:17px

}
#right-arrow{
    height:15px;
    position: relative;
    left:32px;
    top:4px;
}
#down-arrow{
    height:15px;
}

table{
    display: flex;
    justify-content: center;
}

td{
    border: 2px solid black;
    width:50px;
    height:50px;
    cursor: pointer;
}
td:hover{
    transform: scale(1.2);
}
td p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
   
}

.period-no,.col-gap{
    border: none;
    text-align: center;
}

.btw-space td{
    border: none;
    height:20px;
}
.star{
    border: none;
    width:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    background-color: aliceblue;
}
.s-block{
    background-color: rgb(239, 134, 152);
}
.p-block{
    background-color: rgb(236, 236, 112);
}
.d-block{
    background-color: rgb(159, 180, 239);
}
.f-block {
    background-color: rgb(100, 236, 97);
}